@font-face {
    font-family: Outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
}

body{
    background-color: rgb(209, 239, 249);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card {
    background-color: white;
    max-width: 18rem;
    border-radius: 10px
}

.content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
   max-height: 16rem;
    max-width: 16rem;
    border-radius: 10px;
}

.title{
    font-weight: 700;
    color: black;
}

p {
    max-width: 16rem;
    text-align: center;
    font-size: 1rem;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    color: hsl(216, 15%, 43%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

 .attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    padding-bottom: 5px ;
    position: absolute;
    bottom: 0;
}